@font-face {
    font-family: OcrA;
    src: url("../assets/OCRAStd.otf") format("opentype");
}

* {
    box-sizing: border-box;
}
body {
    /* background-color: #eee; */
}
p, li, span, a, pre {
    font-family: helvetica, sans-serif;
}
h1, h2, h3 {
    font-family: OcrA;
}


#app {
    /* display: flex;
    flex-direction: column; */
    position: relative;
}

#topBarCtnr {
    width: 100%;
    /* position: relative;
    z-index: 100; */
    /* flex: 1; */
    /* position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10vh; */
}

#dashboardCptCtnr {
    width: 100%;
    /* position: relative; */
    /* z-index: -100; */
}

#dashboard-container {
    display: flex;
    width: 100%;
    margin: 0 auto;
    /*à surveiller*/
    height: 90vh;
    /* overflow: auto; */
    /* scrollbar-width: thin; */
}

/* #sideBarCtnr {
} */

#routerViewCtnr {
    position: relative;
    background-color: #c3d1dd;
    /* top: 10vh; */
    /* max-width: 1300px; */
    /* min-width: 70%; */
    width: 100%;
    /* margin: 0 auto; */
    /* padding: 10px 0; */
    overflow: auto;
    scrollbar-width: thin;
    /* scrollbar: none; */

}
@media (max-width: 540px) {
    #routerViewCtnr {
        scrollbar: none;

    }
}
/* sidebar menu */
.v-sidebar-menu {
    /* background-color: #8baed3; */
}

/* main block */
.v-sidebar-menu.vsm-default {
    /* background-color: #8baed3; */
}

.v-sidebar-menu.vsm-collapsed {
    /* background-color: #8baed3; */
}
.v-sidebar-menu .vsm-header {
    /* background-color: #8baed3; */
}
.v-sidebar-menu .vsm-list {
    /* background-color: #8baed3; */
}

/* small list */
.v-sidebar-menu .vsm-dropdown > .vsm-list {
    /* background-color: #8baed3; */
}
.v-sidebar-menu .vsm-item {
    /* background-color: #8baed3; */
}

/* main list */
.v-sidebar-menu .vsm-item.first-item {
    /* background-color: #8baed3; */
}

.v-sidebar-menu .vsm-item.mobile-item {
    /* background-color: #8baed3; */
}

.v-sidebar-menu .vsm-item.open-item {
    /* background-color: #8baed3; */
}

/* selected item (no children) */
.v-sidebar-menu .vsm-item.active-item {
    /* background-color: #8baed3; */
}
/* selected item (children and closed parent) */
.v-sidebar-menu .vsm-item.parent-active-item {
    /* background-color: #8baed3; */
}
.vsm-item .first-item .open-item{
    background-color: #8baed3;
}

/* dropdowns */
.dropdown-menu {
    /* position: relative;
    z-index: 1000; */
}

/* text-blocks in posts */

pre {
    /* font-family: arial, sans-serif; */
    font-size: 1em;
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

.commentContent>pre {
    color: #fff;
}

/* List views */
.cursor:hover {
    cursor: pointer;
    transform: scale(1.1);
}

h2, h3, .square-btn, a, a:hover, div.clearNotifsLink {
    color: #193052;
}

a:hover, h3:hover, div.clearNotifsLink:hover {
    font-weight: 600;
    text-decoration: none;
}

p {
    color: #fff;
}

.footer-text {
    text-align: center;
    font-size: 0.8em;
    font-style: italic;
}
.card {
    border: none;
}
/* .card-bg1 {
    background-color: #8baed3;
}

.card-bg2 {
    background-color: #c3d1dd;
} */

/* buttons & thumbnails */

.logo-small {
    height: 60px;
    width: auto;
}

.square-btn {
    width: 30px;
    height: 30px;
    /* background-color: #8baed3; */
}

.btn-l-1 {
    top: 0;
    left: 0;
}

.btn-l-2 {
    bottom: 0;
    left: 20px;
}

/* forms */

textarea {
    height: auto;
    width: 80%;
    margin: 0 auto;
}
